# Flutter / Dart / Pub related
**/.dart_tool/
**/.packages
**/.flutter-plugins
**/.flutter-plugins-dependencies
build/
coverage/
**/doc/api/
**/ios/Flutter/.last_build_id

# Android / Gradle related
.gradle
/local.properties
gradlew
gradlew.bat
gradle-wrapper.jar
/captures/
/generated/
.cxx/
**/android/app/debug
**/android/app/profile
**/android/app/release

# IntelliJ / Android Studio related
*.iml
*.ipr
*.iws
.idea/

# VS Code
.vscode/

# macOS / Windows junk
.DS_Store
Thumbs.db
*.log
*.pyc
*.swp
*.class

# Keystore / sensitive files (مهم جدًا ما يترفعوش أبدًا)
key.properties
**/*.keystore
**/*.jks

# Miscellaneous
.migrate_working_dir/
.swiftpm/
.atom/
.history
.svn/